.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895508;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.875977;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.875977;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,176,240),0 0.015em rgb(0,176,240),0.015em 0 rgb(0,176,240),0 -0.015em  rgb(0,176,240);}
.sc2{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,176,240);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-5.812172px;}
._3{margin-left:-2.700624px;}
._2{margin-left:-1.586093px;}
._1{width:1.331110px;}
._4{width:3.848000px;}
.fc3{color:rgb(197,90,17);}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,176,240);}
.fs0{font-size:72.000000px;}
.fs1{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:21.356026px;}
.y8{bottom:64.556023px;}
.y14{bottom:83.452629px;}
.y7{bottom:108.694115px;}
.y13{bottom:126.652626px;}
.y12{bottom:169.852623px;}
.y6{bottom:189.605690px;}
.ye{bottom:206.872559px;}
.yd{bottom:228.472557px;}
.y5{bottom:232.805687px;}
.y4{bottom:283.079399px;}
.y11{bottom:299.978233px;}
.y10{bottom:343.178230px;}
.y3{bottom:356.796890px;}
.yf{bottom:386.378227px;}
.y18{bottom:394.264603px;}
.y2{bottom:399.996887px;}
.y17{bottom:415.864601px;}
.y15{bottom:424.084923px;}
.yc{bottom:427.022957px;}
.y1a{bottom:430.433266px;}
.y16{bottom:437.464600px;}
.y1{bottom:445.684921px;}
.yb{bottom:448.622955px;}
.y19{bottom:452.033264px;}
.ya{bottom:495.232960px;}
.h2{height:51.679688px;}
.h1{height:52.277344px;}
.h3{height:53.226562px;}
.h4{height:92.937500px;}
.h5{height:94.625000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xc{left:170.546936px;}
.x6{left:190.995911px;}
.x5{left:213.648987px;}
.x1{left:235.199997px;}
.x9{left:260.914246px;}
.xb{left:272.421844px;}
.x8{left:316.972046px;}
.x4{left:334.237671px;}
.x3{left:351.182983px;}
.x7{left:372.464233px;}
.xa{left:395.151733px;}
.x2{left:417.714233px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-7.749562pt;}
._3{margin-left:-3.600831pt;}
._2{margin-left:-2.114791pt;}
._1{width:1.774814pt;}
._4{width:5.130667pt;}
.fs0{font-size:96.000000pt;}
.fs1{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:28.474701pt;}
.y8{bottom:86.074697pt;}
.y14{bottom:111.270172pt;}
.y7{bottom:144.925486pt;}
.y13{bottom:168.870168pt;}
.y12{bottom:226.470164pt;}
.y6{bottom:252.807587pt;}
.ye{bottom:275.830078pt;}
.yd{bottom:304.630076pt;}
.y5{bottom:310.407583pt;}
.y4{bottom:377.439199pt;}
.y11{bottom:399.970978pt;}
.y10{bottom:457.570974pt;}
.y3{bottom:475.729187pt;}
.yf{bottom:515.170970pt;}
.y18{bottom:525.686137pt;}
.y2{bottom:533.329183pt;}
.y17{bottom:554.486135pt;}
.y15{bottom:565.446564pt;}
.yc{bottom:569.363942pt;}
.y1a{bottom:573.911021pt;}
.y16{bottom:583.286133pt;}
.y1{bottom:594.246562pt;}
.yb{bottom:598.163940pt;}
.y19{bottom:602.711019pt;}
.ya{bottom:660.310613pt;}
.h2{height:68.906250pt;}
.h1{height:69.703125pt;}
.h3{height:70.968750pt;}
.h4{height:123.916667pt;}
.h5{height:126.166667pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xc{left:227.395915pt;}
.x6{left:254.661214pt;}
.x5{left:284.865316pt;}
.x1{left:313.599996pt;}
.x9{left:347.885661pt;}
.xb{left:363.229126pt;}
.x8{left:422.629395pt;}
.x4{left:445.650228pt;}
.x3{left:468.243978pt;}
.x7{left:496.618978pt;}
.xa{left:526.868978pt;}
.x2{left:556.952311pt;}
}
